* {
    margin: 0 auto;
    color: white;
    background-color: black;
}

.container {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 10%;
    text-align: center;
}

.botao {
    padding: 0.5rem;
    border-radius: 5px;
    font-size: 1.5rem;
}

.iniciar {
    background-color: rgba(0, 128, 0, 0.514);
    color: white;
}

.parar {
    background-color: rgba(199, 199, 78, 0.726);
    color: white;
}

.reiniciar {
    background-color: rgba(255, 0, 0, 0.541);
    color: white;
}